<div class="msg-card">
	<div class="user-img left"> 
		<img src="/image/<%= headIcon %>" width="65" class="head-img" />
	</div>
	<div class="msg-content left">
		<div class="msg-title"><a href="#" class="bold hblue"><%= article.title %></a></div>
		<div>
			<%- article.abstract %>
		</div>
	</div>
	<div class="msg-create-time">
		由<span class="create-time-text blue bold"><%= author %></span>发表于<span class="create-time-text blue bold"><%= article.createAt %></span>
	</div>
</div>